IOTA_EVM_RPC_URL=https://json-rpc.evm.testnet.iotaledger.net
IOTA_EVM_CHAIN_ID=1076
PRIVATE_KEY=replace_with_deployer_private_key
VITE_IOTA_EVM_RPC_URL=https://json-rpc.evm.testnet.iotaledger.net
VITE_IOTA_EVM_CHAIN_ID=1076
VITE_DPP_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
VITE_IPFS_GATEWAY=https://ipfs.io/ipfs/

